extends layout

block content
    .landing
        .landing__hero
            img.landing__image(src=`/uploads/drone.png`)
            h.icon('logo')
            h2.title.title--landing
    .landing
        h2.title.title--landing Drone Drops
        h2.title.title--copyright
            span &copy;  
            | 2017 Hack Street Boys
        p.title.title--authors Dinesh | Gowtham | Jerome | Nandeesh | Thiru