mixin searchDroneForm(drone = {})
    form(action=`/search-drones/${drone._id || ''}`, method="post" class="card" enctype="multipart/form-data")
        //- From address, long, lat
        label(for='address') Pickup From
        input(type="text" id="fromAddress" name="fromAddress" class="search-address")
        input(type="text" id="fromLng" name="fromLng" hidden) 
        input(type="text" id="fromLat" name="fromLat"  hidden) 
        //- address, long, lat
        label(for='address') Deliver To
        input(type="text" id="toAddress" name="location[toAddress]" class="search-address")
        input(type="text" id="toLng" name="toLng"  hidden) 
        input(type="text" id="toLat" name="toLat" hidden) 
        input(type="submit", value="Search Drones" class="submitButton")