input,
textarea {
    width: 100%;
    border: 0px;
    border: 1px solid $blue;
    font-family: 'Roboto Mono', 'Rubrik', sans-serif;
    font-size: 1.15em;
    line-height: 1.5;
    &.input {
        &--error {
            border-color: red;
        }
    }
}

input:focus {
    background: $field-grey;
}

input#photo {
    border: 0;
}

label {
    padding: 20px 0 10px 0;
    display: block;
    font-size: 1em;
    color: $blue;
}

.form {
    background: white;
    padding: 2rem;
    box-shadow: $grad;
    &+.form {
        margin-top: 4rem;
    } // I know this isn't bem but meh
    h2 {
        margin: 0;
        font-size: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $grey;
    }
}
