@font-face {
  font-family: 'Roboto Mono', 'Rubrik', sans-serif;
  src: url('/fonts/RobotoMono-Bold.ttf') format('ttf'), url('/fonts/RobotoMono-BoldItalic.ttf') format('ttf'), url('/fonts/RobotoMono-Italic.ttf') format('ttf'), url('/fonts/RobotoMono-Light.ttf') format('ttf'), url('/fonts/RobotoMono-LightItalic.ttf') format('ttf'), url('/fonts/RobotoMono-Medium.ttf') format('ttf'), url('/fonts/RobotoMono-MediumItalic.ttf') format('ttf'), url('/fonts/RobotoMono-Regular.ttf') format('ttf'), url('/fonts/RobotoMono-Thin.ttf') format('ttf'), url('/fonts/RobotoMono-ThinItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-size: 5rem;
    font-family: 'Roboto Mono', 'Rubrik', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: $black;
}

p a {
    border-bottom: 2px solid $yellow;
}

p {
    line-height: 2;
    font-size: 1.6rem;
}

.title {
    word-wrap: break-word;
    position: relative;
    z-index: 2;
    margin: 2rem;
    font-size: 40px;
    z-index: 2;
    line-height: 1.1;
    text-align: center;
    
    &--long {
        font-size: 30px;
    }
    &--copyright {
      font-size: 30px;
    }
    &--authors {
      font-size: 24px;
    }
    &:before {
        content: '';
        width: 50px;
        left: 0;
        top: 0;
        height: 100%; // top:10%;
        display: block;
        position: absolute;
        z-index: -1;
        transform: skew(-5deg);
    }
    line-height:1.1; // inline link inside
    a {
        border-bottom: 0;
    }
}

.title--single {
    max-width: 600px;
    margin-top: -9rem;
    font-size: 10rem;
    text-align: center;
}